[submodule "2 - Functional Program Design in Scala"]
	url = https://github.com/cardosop/Functional-Programming-in-Scala
[submodule "3 - Parallel programming"]
	url = https://github.com/cardosop/Functional-Programming-in-Scala
